<a href="https://colab.research.google.com/github/Solsmi/challenge_telecomx_latam/blob/main/TelecomX_LATAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Diccionario**
- customerID: n煤mero de identificaci贸n 煤nico de cada cliente
- Churn: si el cliente dej贸 o no la empresa
- gender: g茅nero (masculino y femenino)
- SeniorCitizen: informaci贸n sobre si un cliente tiene o no una edad igual o mayor a 65 a帽os
- Partner: si el cliente tiene o no una pareja
- Dependents: si el cliente tiene o no dependientes
- tenure: meses de contrato del cliente
- PhoneService: suscripci贸n al servicio telef贸nico
- MultipleLines: suscripci贸n a m谩s de una l铆nea telef贸nica
- InternetService: suscripci贸n a un proveedor de internet
- OnlineSecurity: suscripci贸n adicional de seguridad en l铆nea
- OnlineBackup: suscripci贸n adicional de respaldo en l铆nea
- DeviceProtection: suscripci贸n adicional de protecci贸n del dispositivo
- TechSupport: suscripci贸n adicional de soporte t茅cnico, menor tiempo de espera
- StreamingTV: suscripci贸n de televisi贸n por cable
- StreamingMovies: suscripci贸n de streaming de pel铆culas
- Contract: tipo de contrato
- PaperlessBilling: si el cliente prefiere recibir la factura en l铆nea
- PaymentMethod: forma de pago
- Charges.Monthly: total de todos los servicios del cliente por mes
- Charges.Total: total gastado por el cliente

# Extracci贸n

In [93]:
import requests
import pandas as pd

In [94]:
url = 'https://raw.githubusercontent.com/alura-cursos/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json'
response = requests.get(url)
data = response.json()
df = pd.DataFrame(data)
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [95]:
df = pd.json_normalize(data)
df

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,internet.OnlineSecurity,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,Yes,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,No,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,Yes,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

##Inspeccionar Tipos de Datos

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

##Inspeccionar Valores Nulos

In [97]:
df.isnull().sum()

customerID                   0
Churn                        0
customer.gender              0
customer.SeniorCitizen       0
customer.Partner             0
customer.Dependents          0
customer.tenure              0
phone.PhoneService           0
phone.MultipleLines          0
internet.InternetService     0
internet.OnlineSecurity      0
internet.OnlineBackup        0
internet.DeviceProtection    0
internet.TechSupport         0
internet.StreamingTV         0
internet.StreamingMovies     0
account.Contract             0
account.PaperlessBilling     0
account.PaymentMethod        0
account.Charges.Monthly      0
account.Charges.Total        0
dtype: int64

## Analizar Valores nicos en Columnas Tipo *Object*

---



Para las columnas de tipo 'object', examinar los valores 煤nicos para comprender las categor铆as existentes e identificar posibles inconsistencias o valores inesperados.

In [98]:
object_columns = df.select_dtypes(include='object').columns

for col in object_columns:
    print(f"Column: {col}")
    value_counts = df[col].value_counts()
    print(value_counts)

    # destacar valores vacios o espacios en blanco
    empty_values_count = df[col].apply(lambda x: isinstance(x, str) and x.strip() == '').sum()
    if empty_values_count > 0:
        print(f"\033[1m    (Observacion: Se encontraron {empty_values_count} valores vac铆os o de solo espacios en blanco)\033[0m") # ANSI escape codes for bold text

    print("\n" + "-" * 30 + "\n")

Column: customerID
customerID
9995-HOTOH    1
0002-ORFBO    1
0003-MKNFE    1
9970-QBCDA    1
9968-FFVVH    1
             ..
0014-BMAQU    1
0013-SMEOE    1
0013-MHZWF    1
0013-EXCHZ    1
0011-IGKFF    1
Name: count, Length: 7267, dtype: int64

------------------------------

Column: Churn
Churn
No     5174
Yes    1869
        224
Name: count, dtype: int64
    (Observacion: Se encontraron 224 valores vac铆os o de solo espacios en blanco)

------------------------------

Column: customer.gender
customer.gender
Male      3675
Female    3592
Name: count, dtype: int64

------------------------------

Column: customer.Partner
customer.Partner
No     3749
Yes    3518
Name: count, dtype: int64

------------------------------

Column: customer.Dependents
customer.Dependents
No     5086
Yes    2181
Name: count, dtype: int64

------------------------------

Column: phone.PhoneService
phone.PhoneService
Yes    6560
No      707
Name: count, dtype: int64

------------------------------

Column: phone.MultipleLines
phone.MultipleLines
No                  3495
Yes                 3065
No phone service     707
Name: count, dtype: int64

------------------------------

Column: internet.InternetService
internet.InternetService
Fiber optic    3198
DSL            2488
No             1581
Name: count, dtype: int64

------------------------------

Column: internet.OnlineSecurity
internet.OnlineSecurity
No                     3608
Yes                    2078
No internet service    1581
Name: count, dtype: int64

------------------------------

Column: internet.OnlineBackup
internet.OnlineBackup
No                     3182
Yes                    2504
No internet service    1581
Name: count, dtype: int64

------------------------------

Column: internet.DeviceProtection
internet.DeviceProtection
No                     3195
Yes                    2491
No internet service    1581
Name: count, dtype: int64

------------------------------

Column: internet.TechSupport
internet.TechSupport
No                     3582
Yes                    2104
No internet service    1581
Name: count, dtype: int64

------------------------------

Column: internet.StreamingTV
internet.StreamingTV
No                     2896
Yes                    2790
No internet service    1581
Name: count, dtype: int64

------------------------------

Column: internet.StreamingMovies
internet.StreamingMovies
No                     2870
Yes                    2816
No internet service    1581
Name: count, dtype: int64

------------------------------

Column: account.Contract
account.Contract
Month-to-month    4005
Two year          1743
One year          1519
Name: count, dtype: int64

------------------------------

Column: account.PaperlessBilling
account.PaperlessBilling
Yes    4311
No     2956
Name: count, dtype: int64

------------------------------

Column: account.PaymentMethod
account.PaymentMethod
Electronic check             2445
Mailed check                 1665
Bank transfer (automatic)    1589
Credit card (automatic)      1568
Name: count, dtype: int64

------------------------------

Column: account.Charges.Total
account.Charges.Total
20.2       11
           11
19.75       9
19.55       9
19.9        9
           ..
1993.2      1
72.1        1
1237.85     1
542.4       1
593.3       1
Name: count, Length: 6531, dtype: int64
    (Observacion: Se encontraron 11 valores vac铆os o de solo espacios en blanco)

------------------------------

El an谩lisis de los valores 煤nicos para las columnas de tipo 'object' ha revelado algunas inconsistencias:

- **Churn**: Adem谩s de 'No' y 'Yes', se encontraron 224 entradas con un valor vac铆o `''`. Esto podr铆a indicar datos faltantes o un problema en la recolecci贸n de datos que necesita ser abordado.
- **account.Charges.Total**: Se identificaron 11 entradas con un valor vac铆o `''`. Dado que esta columna deber铆a ser num茅rica (total de cargos), estos valores vac铆os impedir谩n el an谩lisis num茅rico y deben ser tratados. Tambi茅n, la columna `account.Charges.Total` se identific贸 como tipo `object` en el `df.info()`, lo que sugiere que los valores vac铆os podr铆an estar causando que no se convierta a un tipo num茅rico adecuado. Esto requerir谩 una limpieza y conversi贸n de tipo de datos.

##Valores vac铆os o en blanco

In [99]:
df.apply(lambda x: x.astype(str).str.strip() == '').sum()

customerID                     0
Churn                        224
customer.gender                0
customer.SeniorCitizen         0
customer.Partner               0
customer.Dependents            0
customer.tenure                0
phone.PhoneService             0
phone.MultipleLines            0
internet.InternetService       0
internet.OnlineSecurity        0
internet.OnlineBackup          0
internet.DeviceProtection      0
internet.TechSupport           0
internet.StreamingTV           0
internet.StreamingMovies       0
account.Contract               0
account.PaperlessBilling       0
account.PaymentMethod          0
account.Charges.Monthly        0
account.Charges.Total         11
dtype: int64

# Transformaci贸n

##Eliminar valores vac铆os de Churn

In [100]:
df = df[df['Churn'] != '']
df.reset_index(drop=True, inplace=True)

In [101]:
churn_counts = df['Churn'].value_counts()
print(churn_counts)
print(f"\nSuma Total: {churn_counts.sum()}")

Churn
No     5174
Yes    1869
Name: count, dtype: int64

Suma Total: 7043

##Eliminar cadenas vac铆as y espacios en blanco de Charges.Total

In [102]:
df = df[df['account.Charges.Total'] != '']
df = df[df['account.Charges.Total'].str.strip() != '']
df.reset_index(drop=True, inplace=True)
df['account.Charges.Total'] = pd.to_numeric(df['account.Charges.Total'])

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7032 non-null   object
 1   Churn                      7032 non-null   object
 2   customer.gender            7032 non-null   object
 3   customer.SeniorCitizen     7032 non-null   int64
 4   customer.Partner           7032 non-null   object
 5   customer.Dependents        7032 non-null   object
 6   customer.tenure            7032 non-null   int64
 7   phone.PhoneService         7032 non-null   object
 8   phone.MultipleLines        7032 non-null   object
 9   internet.InternetService   7032 non-null   object
 10  internet.OnlineSecurity    7032 non-null   object
 11  internet.OnlineBackup      7032 non-null   object
 12  internet.DeviceProtection  7032 non-null   object
 13  internet.TechSupport       7032 non-null   object
 14  internet.StreamingTV       7032 non-null   object
 15  internet.StreamingMovies   7032 non-null   object
 16  account.Contract           7032 non-null   object
 17  account.PaperlessBilling   7032 non-null   object
 18  account.PaymentMethod      7032 non-null   object
 19  account.Charges.Monthly    7032 non-null   float64
 20  account.Charges.Total      7032 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

##Estandarizacion espa帽ol

In [104]:
columnas = {    # Diccionario con los nuevos nombres de las columnas.
    'customerID': 'id_cliente',
    'Churn': 'abandono',
    'customer.gender': 'genero',
    'customer.SeniorCitizen': 'tiene +60',
    'customer.Partner': 'posee_pareja',
    'customer.Dependents': 'posee_dependientes',
    'customer.tenure': 'tiempo_contrato',
    'phone.PhoneService': 'servicio_telefono',
    'phone.MultipleLines': 'multiples_lineas',
    'internet.InternetService': 'tipo_internet',
    'internet.OnlineSecurity': 'seguridad_online',
    'internet.OnlineBackup': 'backup_online',
    'internet.DeviceProtection': 'proteccion_dispositivo',
    'internet.TechSupport': 'soporte_tecnico',
    'internet.StreamingTV': 'streaming_tv',
    'internet.StreamingMovies': 'streaming_peliculas',
    'account.Contract': 'tipo_contrato',
    'account.PaperlessBilling': 'factura_digital',
    'account.PaymentMethod': 'metodo_pago',
    'account.Charges.Monthly': 'cargo_mensual',
    'account.Charges.Total': 'cargo_total',

}
df = df.rename(columns= columnas)
df

,id_cliente,abandono,genero,tiene +60,posee_pareja,posee_dependientes,tiempo_contrato,servicio_telefono,multiples_lineas,tipo_internet,seguridad_online,backup_online,proteccion_dispositivo,soporte_tecnico,streaming_tv,streaming_peliculas,tipo_contrato,factura_digital,metodo_pago,cargo_mensual,cargo_total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.30
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.40
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,Yes,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.90
7028,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,No,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.70
7029,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7030,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,Yes,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7031,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.60

In [105]:
df['abandono'] = df['abandono'].replace({'Yes': 'S铆'})
df['genero'] = df['genero'].replace({'Female': 'Femenino', 'Male': 'Masculino'})
df['posee_pareja'] = df['posee_pareja'].replace({'Yes': 'S铆'})
df['posee_dependientes'] = df['posee_dependientes'].replace({'Yes': 'S铆'})
df['servicio_telefono'] = df['servicio_telefono'].replace({'Yes': 'S铆'})
df['multiples_lineas'] = df['multiples_lineas'].replace({'Yes': 'S铆', 'No phone service': 'Sin servicio de tel茅fono'})
df['tipo_internet'] = df['tipo_internet'].replace({'Fiber optic': 'Fibra 贸ptica'})
df['seguridad_online'] = df['seguridad_online'].replace({'Yes': 'S铆', 'No internet service': 'Sin servicio de internet'})
df['backup_online'] = df['backup_online'].replace({'Yes': 'S铆', 'No internet service': 'Sin servicio de internet'})
df['proteccion_dispositivo'] = df['proteccion_dispositivo'].replace({'Yes': 'S铆', 'No internet service': 'Sin servicio de internet'})
df['soporte_tecnico'] = df['soporte_tecnico'].replace({'Yes': 'S铆', 'No internet service': 'Sin servicio de internet'})
df['streaming_tv'] = df['streaming_tv'].replace({'Yes': 'S铆', 'No internet service': 'Sin servicio de internet'})
df['streaming_peliculas'] = df['streaming_peliculas'].replace({'Yes': 'S铆', 'No internet service': 'Sin servicio de internet'})
df['tipo_contrato'] = df['tipo_contrato'].replace({'One year': 'Anual', 'Month-to-month': 'Mensual', 'Two year': 'Bienal'})
df['factura_digital'] = df['factura_digital'].replace({'Yes': 'S铆'})
df['metodo_pago'] = df['metodo_pago'].replace({'Mailed check': 'Cheque por correo', 'Electronic check': 'Cheque electr贸nico', 'Bank transfer (automatic)': 'Transferencia bancaria (autom谩tica)', 'Credit card (automatic)': 'Tarjeta de cr茅dito (autom谩tica)'})

In [106]:
pd.set_option('display.max_columns', None)  #ver todos los datos de las columnas

In [107]:
df.head()

,id_cliente,abandono,genero,tiene +60,posee_pareja,posee_dependientes,tiempo_contrato,servicio_telefono,multiples_lineas,tipo_internet,seguridad_online,backup_online,proteccion_dispositivo,soporte_tecnico,streaming_tv,streaming_peliculas,tipo_contrato,factura_digital,metodo_pago,cargo_mensual,cargo_total
0,0002-ORFBO,No,Femenino,0,S铆,S铆,9,S铆,No,DSL,No,S铆,No,S铆,S铆,No,Anual,S铆,Cheque por correo,65.6,593.30
1,0003-MKNFE,No,Masculino,0,No,No,9,S铆,S铆,DSL,No,No,No,No,No,S铆,Mensual,No,Cheque por correo,59.9,542.40
2,0004-TLHLJ,S铆,Masculino,0,No,No,4,S铆,No,Fibra 贸ptica,No,No,S铆,No,No,No,Mensual,S铆,Cheque electr贸nico,73.9,280.85
3,0011-IGKFF,S铆,Masculino,1,S铆,No,13,S铆,No,Fibra 贸ptica,No,S铆,S铆,No,S铆,S铆,Mensual,S铆,Cheque electr贸nico,98.0,1237.85
4,0013-EXCHZ,S铆,Femenino,1,S铆,No,3,S铆,No,Fibra 贸ptica,No,No,No,S铆,S铆,No,Mensual,S铆,Cheque por correo,83.9,267.40

In [108]:
df['cuentas_diarias'] = df['cargo_mensual'] / 30
df.head()

,id_cliente,abandono,genero,tiene +60,posee_pareja,posee_dependientes,tiempo_contrato,servicio_telefono,multiples_lineas,tipo_internet,seguridad_online,backup_online,proteccion_dispositivo,soporte_tecnico,streaming_tv,streaming_peliculas,tipo_contrato,factura_digital,metodo_pago,cargo_mensual,cargo_total,cuentas_diarias
0,0002-ORFBO,No,Femenino,0,S铆,S铆,9,S铆,No,DSL,No,S铆,No,S铆,S铆,No,Anual,S铆,Cheque por correo,65.6,593.30,2.186667
1,0003-MKNFE,No,Masculino,0,No,No,9,S铆,S铆,DSL,No,No,No,No,No,S铆,Mensual,No,Cheque por correo,59.9,542.40,1.996667
2,0004-TLHLJ,S铆,Masculino,0,No,No,4,S铆,No,Fibra 贸ptica,No,No,S铆,No,No,No,Mensual,S铆,Cheque electr贸nico,73.9,280.85,2.463333
3,0011-IGKFF,S铆,Masculino,1,S铆,No,13,S铆,No,Fibra 贸ptica,No,S铆,S铆,No,S铆,S铆,Mensual,S铆,Cheque electr贸nico,98.0,1237.85,3.266667
4,0013-EXCHZ,S铆,Femenino,1,S铆,No,3,S铆,No,Fibra 贸ptica,No,No,No,S铆,S铆,No,Mensual,S铆,Cheque por correo,83.9,267.40,2.796667

# Carga y an谩lisis

#Informe final